<?xml version="1.0" encoding="UTF-8"?>
<!-- appender :메시지 기록위치(장소) -->
<!-- layout : 메시지 기록 형식 -->
<!-- logger : 각 name값을 갖는 로그 기록자(로그메시지 전달자) -->
<!-- envent level : 이벤트 등급 debug < info < warn < trace < error < fatal -->
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern=" %-5level %logger{.1} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="kr.or.ddit" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<logger name="jdbc.sqltiming" level="debug" additivity="false">
			<Appender-ref ref="Console" />
		</logger>
		<logger name="jdbc.resultsettable" level="debug" additivity="false">
			<Appender-ref ref="Console" />
		</logger>
		<Root level="error">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>